---
title: Quill text editor
layout: sidebar
---

<p><a href="https://quilljs.com/">Quill</a>, your powerful rich text editor.</p>
<br />


<div class="quill-editor">
</div>

<br />
<br />

<% code("html") do %>
<button type="button" class="btn btn-success btn-lg">Primary</button>
<button type="button" class="btn btn-danger btn-lg">Secondary</button>

<button type="button" class="btn btn-outline-success btn-lg">Primary outline</button>
<button type="button" class="btn btn-outline-danger btn-lg">Secondary outline</button>
<% end %>
