---
title: Slimscroll
layout: sidebar
---

<p><a href="https://github.com/rochal/jQuery-slimScroll">Slimscroll</a> is a javascript library which allows you to add an elegant scrollbar to divs.</p>
<br />

<div class="slimscroll custom-scroll" style="height:300px">
  <div class="p-3">
    <%= lorem.paragraphs 15 %>
  </div>
</div>

<% code("html") do %>
<div class="slimscroll custom-scroll" style="height:300px">
  <div class="p-3">
    ...
  </div>
</div>
<% end %>
