---
title: Waves
layout: sidebar
---

<p><a href="http://fian.my.id/Waves/#start">Waves</a> is a javascript library which adds a nice effect to buttons when you click them.</p>
<br />


<button type="button" class="btn btn-success btn-lg">Primary</button>
<button type="button" class="btn btn-danger btn-lg">Secondary</button>

<button type="button" class="btn btn-outline-success btn-lg">Primary outline</button>
<button type="button" class="btn btn-outline-danger btn-lg">Secondary outline</button>

<br />
<br />

<% code("html") do %>
<button type="button" class="btn btn-success btn-lg">Primary</button>
<button type="button" class="btn btn-danger btn-lg">Secondary</button>

<button type="button" class="btn btn-outline-success btn-lg">Primary outline</button>
<button type="button" class="btn btn-outline-danger btn-lg">Secondary outline</button>
<% end %>
