@font-face {
  font-family: KingsBureauGrotFiveOne;
  src: url('../fonts/KingsBureauGrotesqueFiveOne-eot.eot') format("eot");
  src: url('../fonts/KingsBureauGrotesqueFiveOne-eot.eot?#iefix') format("embedded-opentype"),
       url('../fonts/KingsBureauGrotesqueFiveOne-woff.woff') format("woff"),
       url('../fonts/KingsBureauGrotesqueFiveOne-ttf.ttf') format("truetype");
}

@font-face {
  font-family: KingsBureauGrotThreeSeven;
  src: url('../fonts/KingsBureauGrotesqueThreeSeven-eot.eot') format("eot");
  src: url('../fonts/KingsBureauGrotesqueThreeSeven-eot.eot?#iefix') format("embedded-opentype"),
       url('../fonts/KingsBureauGrotesqueThreeSeven-woff.woff') format("woff"),
       url('../fonts/KingsBureauGrotesqueThreeSeven-svg.svg') format("svg");
}
