body {
  padding-top: 0;
}

.bg-none {
  background: none !important;
}

.navbar-nav {
  .nav-item {
    margin: -1rem 0;
    height: 70.2px;
    padding: 1rem;
    cursor: pointer;
  }
}

.navbar-dark .navbar-nav .nav-item {
  &:hover, &.active {
    background-color: #e6ebed;

    .nav-link {
      color: $black !important;
      font-weight: normal;
    }
  }
}

.navbar-light .navbar-nav .nav-item {
  &:hover, &.active {
    background-color: $primary;

    .nav-link {
      color: $white !important;
      font-weight: normal;
    }
  }
}

#primary_nav {
  z-index: 1000;

  @media (min-width: 1076px) {
    padding-left: 11%;
    padding-right: 11%;
  }

  @media (min-width: 1303px) {
    padding-left: 18%;
    padding-right: 18%;
  }

  .navbar-brand {
    margin-left: 90px;

    @media (min-width: 1076px) {
      margin-left: 130px;
    }

    @media (min-width: 1303px) {
      margin-left: 130px;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 70px;
      width: 92px;

      @media (min-width: 1076px) {
        left: 10%;
        height: 100px;
        width: 130px;
      }

      @media (min-width: 1303px) {
        left: 17%;
        height: 100px;
        width: 130px;
      }
    }
  }

  .breadcrumb {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;

    a {
      color: $white;
    }
  }
}

#primary_header {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #e6ebed;
}

.scroll-to-top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: none;
  width: 2.75rem;
  height: 2.75rem;
  text-align: center;
  color: $white;
  background: $gray-600;
  line-height: 46px;

  &:focus,
  &:hover {
    color: $white;
  }

  &:hover {
    background: $gray-900
  }

  i {
    font-weight: 800;
  }
}

// Cards.

.card-header {
  font-weight: bold;
}

// Tables.

.table-hover tbody tr {
  @each $color, $value in $theme-colors {
    &.table-#{$color} {
      color: $white;
    }

    &.table-#{$color}:hover {
      color: $white;
    }
  }

  &:hover, &.table-light, &.table-light:hover, &.table-active:hover {
    color: $table-color;
  }
}
