<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Slimscroll</title>

  <link href="../../css/app.css?1598277740" rel="stylesheet" />
  <link href="../../css/custom.css?1598277740" rel="stylesheet" />

  <script src="../../js/app.js?1598277740"></script>
</head>
<body class="whole-page sidebar-page">
  <span id="page-top"></span>
  <nav id="primary_nav" class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
      <img src="../../images/kcl-logo.svg?1598277740" class="d-inline-block align-top" alt="" />
      <i class="fa fa-paper-plane"></i>&nbsp;&nbsp;App Name<span class="d-none d-lg-inline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;</span>
    </a>
    <nav aria-label="breadcrumb" class="d-none d-lg-block">
      <ol class="breadcrumb bg-none">
        <li class="breadcrumb-item"><a href="#">Breadcrumb navigation</a></li>
        <li class="breadcrumb-item"><a href="#">Previous page name</a></li>
        <li class="breadcrumb-item active" aria-current="page">Current page name</li>
      </ol>
    </nav>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebar-main" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainnavbar">
      <div class="mr-auto"></div>
      <div class="dropdown mr-3 d-none d-lg-block">
        <button class="btn btn-kingsgrey dropdown-toggle" type="button" id="mainUserDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-lock"></i> Logged in as k1000000
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="mainUserDropdown">
          <a class="dropdown-item" href="#">Dashboard</a>
          <a class="dropdown-item" href="#">Settings</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Logout</a>
        </div>
      </div>
    </div>
  </nav>
  <div id="sidebar_content" class="container-fluid">
    <div class="row">
      <nav class="col-sm-12 col-lg-2 bg-light sidebar collapse navbar-collapse" id="sidebar-main">
        <div class="sidebar-sticky">
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Side heading</span>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
<a href="/" class="nav-link">                <i class="fas fa-blender"></i>
                Home
</a>            </li>
            <li class="nav-item">
<a href="/examples/sidebar.html" class="nav-link active">                <i class="fas fa-cogs"></i>
                Sidebar nav <span class="sr-only">(current)</span>
</a>            </li>
            <li class="nav-item">
<a href="/examples/wholepage.html" class="nav-link">                <i class="fas fa-binoculars"></i>
                Whole-page message
</a>            </li>
            <li class="nav-item">
<a href="/examples/coming-soon.html" class="nav-link">                <i class="fas fa-biohazard"></i>
                Coming soon page
</a>            </li>
          </ul>
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Errors</span>
          </h6>
          <ul class="nav flex-column">
            <li class="nav-item">
<a href="/errors/50x.html" class="nav-link">                <i class="fas fa-user"></i>
                50x
</a>            </li>
            <li class="nav-item">
<a href="/errors/404.html" class="nav-link">                <i class="fas fa-cog"></i>
                404
</a>            </li>
            <li class="nav-item">
<a href="/errors/403.html" class="nav-link">                <i class="fas fa-bell"></i>
                403
</a>            </li>
          </ul>
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Other Components</span>
          </h6>
          <ul class="nav flex-column">
            <li class="nav-item">
<a href="/examples/components/datatables.html" class="nav-link">                <i class="fas fa-user"></i>
                DataTables
</a>            </li>
            <li class="nav-item">
<a href="/examples/components/dropzone.html" class="nav-link">                <i class="fas fa-cog"></i>
                Dropzone (file uploads)
</a>            </li>
            <li class="nav-item">
<a href="/examples/components/slimscroll.html" class="nav-link">                <i class="fas fa-scroll"></i>
                Slimscroll
</a>            </li>
            <li class="nav-item">
<a href="/examples/components/waves.html" class="nav-link">                <i class="fas fa-bacon"></i>
                Waves
</a>            </li>
            <li class="nav-item">
<a href="/examples/components/duallistbox.html" class="nav-link">                <i class="fas fa-clone"></i>
                Dual List-Box
</a>            </li>
            <li class="nav-item">
<a href="/examples/components/typeahead.html" class="nav-link">                <i class="fas fa-indent"></i>
                Typeahead
</a>            </li>
            <li class="nav-item">
<a href="/examples/components/quill.html" class="nav-link">                <i class="fas fa-keyboard"></i>
                Quill (rich text editor)
</a>            </li>
            <li class="nav-item">
<a href="/examples/components/timeline.html" class="nav-link">                <i class="fas fa-clock"></i>
                Timeline
</a>            </li>
          </ul>
        </div>
      </nav>
      <main role="main" class="col-md-12 col-lg-10 ml-sm-auto px-4">
        <div class="row mb-2">
          <div class="col">
            <h2>Slimscroll</h2>
            <hr />
          </div>
        </div>
        <p><a href="https://github.com/rochal/jQuery-slimScroll">Slimscroll</a> is a javascript library which allows you to add an elegant scrollbar to divs.</p>
<br />

<div class="slimscroll custom-scroll" style="height:300px">
  <div class="p-3">
    Maiores eligendi quos odio quisquam dolorum maiores fugiat enim est. ipsam asperiores magnam cupiditate temporibus facere tempore. facilis corrupti tempora dolorum et officia consequatur sunt quidem quae et temporibus deserunt nobis

Molestiae inventore atque consequatur tempore cupiditate dolorum repellat exercitationem molestiae aliquam voluptates. tenetur libero hic totam cupiditate voluptas soluta. fuga porro in est ipsam aut voluptatem perspiciatis exercitationem dolorum quas rerum. error odio soluta laudantium eius enim vero nesciunt et velit temporibus placeat. omnis ex consequatur qui animi velit illo porro animi quo illo

Totam perspiciatis aut at sit blanditiis pariatur quas quia reprehenderit odio animi maxime velit. animi exercitationem omnis sit ad sed sed eum voluptates beatae est aliquid quis ab. modi fugit harum itaque consequuntur vero ad nihil et. est doloremque quaerat sint corrupti voluptatem quisquam non

Placeat odit fugiat aut et officia totam quisquam. totam animi est ea sit voluptatem ducimus placeat. illum nemo quod in at laboriosam ex dicta voluptatem. aut accusamus consequatur nisi quod sequi sit quis est eveniet ratione voluptates vitae non ex

Nemo id deleniti maiores eaque repellat ex iusto neque iusto. suscipit at qui qui nobis nostrum itaque possimus dolorum fugit debitis sit. qui modi cum qui corrupti inventore

Architecto eius soluta nobis provident animi. ut nesciunt assumenda et pariatur temporibus placeat assumenda. impedit id et esse esse itaque veniam et qui hic

Iusto quam sed unde animi facilis officiis placeat beatae tenetur esse rerum sed voluptatem veniam. error praesentium ex aut dolores mollitia veritatis. illum id dignissimos ex modi et. illo quidem in cumque qui consequatur ut et officiis voluptatem aut sed natus voluptatibus. voluptatum sint repudiandae est

Debitis debitis in illo. laudantium repellat consectetur in qui ut. id omnis voluptatem magni optio blanditiis atque et assumenda hic. vel incidunt nobis ea id maxime natus amet ad. et et qui saepe quia

Et asperiores culpa perferendis voluptatem a et. aut enim voluptas est voluptatum quia nesciunt distinctio. nesciunt perferendis facilis voluptate reprehenderit nemo repellat velit. et sint voluptas alias ut voluptatem ut quia nulla veritatis sint. nihil quam velit aliquam aliquam omnis assumenda consectetur veniam quae nulla et saepe. doloremque dolorem occaecati ullam aut molestiae

Voluptatum rerum est iusto ratione saepe. enim amet sit hic fuga optio dicta est reiciendis eos perferendis nulla. vero quod nesciunt dolorum dolorem ut accusamus repudiandae eum. est eius velit asperiores amet ratione et ab fugit. sit enim sint ratione natus et et deserunt maiores. in commodi et est. et aut rerum unde voluptate excepturi praesentium quis quasi quia rerum qui enim

Mollitia nihil aliquam rerum impedit. explicabo commodi corrupti fugit omnis. facilis perspiciatis quo debitis similique illum

Et accusamus quis nostrum perferendis distinctio. iure qui expedita sit qui dolores fugit tenetur dolor consequatur quia. omnis totam hic aperiam optio qui quia eligendi harum. adipisci consequatur omnis in est omnis nemo dolorum expedita nisi ex minus enim

Fuga ea aliquid tempore sed ab. dolore sit dolorum fugit quis quas. nostrum rerum quia saepe esse ipsam et dignissimos reiciendis. fuga consequatur doloremque voluptatem est blanditiis sed quae eos ut quaerat. autem animi fugit quia quibusdam deserunt sed quaerat sit accusantium sunt quisquam dignissimos. omnis maiores cum quia quae quae sit quo

Odio aliquam quia sunt laudantium soluta autem deleniti necessitatibus. architecto a numquam voluptates voluptas nisi rerum aut esse repudiandae ex sit sunt. culpa repellat a qui hic molestiae tempora eligendi culpa hic sint. quae non consequuntur qui quasi. tempora omnis porro cumque similique suscipit aspernatur provident optio in dolorum in temporibus

Illum perferendis dolores ea. quasi iure perferendis est ullam beatae dolor quos dolor qui dolores eaque. architecto molestias quia hic consequuntur temporibus accusantium veritatis quam voluptate consequatur optio perspiciatis ex. quas nihil vel animi aut dolor ex. dolorem optio natus dolorem aut asperiores debitis ducimus. est nihil quod ex impedit asperiores eligendi fuga explicabo dignissimos illum ea quod. quo aut eum expedita rem consequatur sunt corrupti fuga quos sunt totam consequatur
  </div>
</div>
<br />
<div class="highlight"><pre class="highlight html"><code><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"slimscroll custom-scroll"</span> <span class="na">style=</span><span class="s">"height:300px"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"p-3"</span><span class="nt">&gt;</span>
    ...
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</code></pre></div>
      </main>
    </div>
  </div>

  <footer id="footer" class="bg-light text-muted d-none d-md-block">
    <ul class="list-unstyled">
      <li>Copyright &copy; 2020 King's College London - Faculty of Natural and Mathematical Sciences</li>
    </ul>
  </footer>

  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
</body>
</html>
