<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Slimscroll</title>

  <link href="../../css/app.css?1598277274" rel="stylesheet" />
  <link href="../../css/custom.css?1598277274" rel="stylesheet" />

  <script src="../../js/app.js?1598277274"></script>
</head>
<body class="whole-page sidebar-page">
  <span id="page-top"></span>
  <nav id="primary_nav" class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
      <img src="../../images/kcl-logo.svg?1598277274" class="d-inline-block align-top" alt="" />
      <i class="fa fa-paper-plane"></i>&nbsp;&nbsp;App Name<span class="d-none d-lg-inline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;</span>
    </a>
    <nav aria-label="breadcrumb" class="d-none d-lg-block">
      <ol class="breadcrumb bg-none">
        <li class="breadcrumb-item"><a href="#">Breadcrumb navigation</a></li>
        <li class="breadcrumb-item"><a href="#">Previous page name</a></li>
        <li class="breadcrumb-item active" aria-current="page">Current page name</li>
      </ol>
    </nav>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebar-main" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainnavbar">
      <div class="mr-auto"></div>
      <div class="dropdown mr-3 d-none d-lg-block">
        <button class="btn btn-kingsgrey dropdown-toggle" type="button" id="mainUserDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-lock"></i> Logged in as k1000000
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="mainUserDropdown">
          <a class="dropdown-item" href="#">Dashboard</a>
          <a class="dropdown-item" href="#">Settings</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Logout</a>
        </div>
      </div>
    </div>
  </nav>
  <div id="sidebar_content" class="container-fluid">
    <div class="row">
      <nav class="col-sm-12 col-lg-2 bg-light sidebar collapse navbar-collapse" id="sidebar-main">
        <div class="sidebar-sticky">
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Side heading</span>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
<a href="/" class="nav-link">                <i class="fas fa-blender"></i>
                Home
</a>            </li>
            <li class="nav-item">
<a href="/examples/sidebar.html" class="nav-link active">                <i class="fas fa-cogs"></i>
                Sidebar nav <span class="sr-only">(current)</span>
</a>            </li>
            <li class="nav-item">
<a href="/examples/wholepage.html" class="nav-link">                <i class="fas fa-binoculars"></i>
                Whole-page message
</a>            </li>
            <li class="nav-item">
<a href="/examples/coming-soon.html" class="nav-link">                <i class="fas fa-biohazard"></i>
                Coming soon page
</a>            </li>
          </ul>
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Errors</span>
          </h6>
          <ul class="nav flex-column">
            <li class="nav-item">
<a href="/errors/50x.html" class="nav-link">                <i class="fas fa-user"></i>
                50x
</a>            </li>
            <li class="nav-item">
<a href="/errors/404.html" class="nav-link">                <i class="fas fa-cog"></i>
                404
</a>            </li>
            <li class="nav-item">
<a href="/errors/403.html" class="nav-link">                <i class="fas fa-bell"></i>
                403
</a>            </li>
          </ul>
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Other Components</span>
          </h6>
          <ul class="nav flex-column">
            <li class="nav-item">
<a href="/examples/components/datatables.html" class="nav-link">                <i class="fas fa-user"></i>
                DataTables
</a>            </li>
            <li class="nav-item">
<a href="/examples/components/dropzone.html" class="nav-link">                <i class="fas fa-cog"></i>
                Dropzone (file uploads)
</a>            </li>
            <li class="nav-item">
<a href="/examples/components/slimscroll.html" class="nav-link">                <i class="fas fa-scroll"></i>
                Slimscroll
</a>            </li>
            <li class="nav-item">
<a href="/examples/components/waves.html" class="nav-link">                <i class="fas fa-bacon"></i>
                Waves
</a>            </li>
            <li class="nav-item">
<a href="/examples/components/duallistbox.html" class="nav-link">                <i class="fas fa-clone"></i>
                Dual List-Box
</a>            </li>
            <li class="nav-item">
<a href="/examples/components/typeahead.html" class="nav-link">                <i class="fas fa-indent"></i>
                Typeahead
</a>            </li>
            <li class="nav-item">
<a href="/examples/components/quill.html" class="nav-link">                <i class="fas fa-keyboard"></i>
                Quill (rich text editor)
</a>            </li>
            <li class="nav-item">
<a href="/examples/components/timeline.html" class="nav-link">                <i class="fas fa-clock"></i>
                Timeline
</a>            </li>
          </ul>
        </div>
      </nav>
      <main role="main" class="col-md-12 col-lg-10 ml-sm-auto px-4">
        <div class="row mb-2">
          <div class="col">
            <h2>Slimscroll</h2>
            <hr />
          </div>
        </div>
        <p><a href="https://github.com/rochal/jQuery-slimScroll">Slimscroll</a> is a javascript library which allows you to add an elegant scrollbar to divs.</p>
<br />

<div class="slimscroll custom-scroll" style="height:300px">
  <div class="p-3">
    Quasi fugit sit possimus magni. unde sit iusto fugiat dicta dicta quam et laudantium ea vero dolor consequuntur quos. iure ad facilis aut vel cupiditate quas. deserunt possimus enim qui dignissimos doloremque voluptatem ut quae. ducimus consectetur odit est sed vero omnis

Qui veniam ea esse. sunt atque corrupti amet non. provident quae id ipsum ipsam sit nihil et repellat architecto. enim nesciunt doloremque omnis enim error tempore. quia voluptas temporibus consequatur cum blanditiis mollitia sint non necessitatibus et maxime molestias aliquid sunt. maiores libero et autem saepe eligendi aliquam eligendi ut. quia quam non ex quis totam et quo ad culpa quis distinctio ut

Quas necessitatibus sunt repudiandae impedit architecto architecto nam molestiae minus temporibus. ducimus fugit qui ad aut similique vitae quis temporibus quis natus. id suscipit eius distinctio excepturi ipsam. quae sed odit quos esse

Quisquam et sit suscipit aut unde nulla qui asperiores distinctio. voluptatum aspernatur quae excepturi veniam asperiores. excepturi nesciunt et sit non rerum delectus sed quod eos consequatur natus eius optio

Amet commodi eum hic qui. at odit quis sed incidunt necessitatibus eligendi. ut perferendis quod sint optio quia quia reprehenderit doloribus eius cum sunt. est dolorem officia voluptas quae iusto sed velit et aut

Eligendi delectus totam laborum aliquid in officiis nulla odit qui labore. itaque delectus aliquid exercitationem quae fugit et. facilis sit quae ut voluptatem et sint perferendis quis voluptatem ut illum quia est. tempora id quia voluptatem ex et non eum ea quia officia quisquam. ut quidem sunt quo ea dolorem. enim facere fugiat ut est non voluptas minus totam et officia accusamus possimus optio libero

Laboriosam maxime molestiae ea esse suscipit temporibus consequatur placeat iure. magni laboriosam reiciendis odit eum repellat ducimus possimus alias fuga et rem fugit fuga qui. rem tenetur ex ut et recusandae alias ipsum id animi beatae vel quia ut. est eos perferendis necessitatibus est officiis veniam officia assumenda qui non et cum excepturi. aliquam qui veniam quasi et natus tempore

Nihil sed facere consequatur quia ipsam praesentium. quam enim qui aut doloremque eos blanditiis optio velit minima ducimus voluptas. dolor optio commodi in beatae harum dolores. recusandae aut atque id excepturi doloribus corporis quia voluptatem labore. autem eos corporis nobis et aut quos quo aut

Maxime quia enim voluptatem vitae modi provident et omnis unde dolore et. qui est sit nisi ut nihil non tenetur natus aut. iusto dolores consequatur ut et enim nihil. fuga et eius placeat ad culpa culpa rerum eos in odio rerum porro voluptatem. rerum delectus blanditiis animi nemo sunt est ut odio nihil illum vel neque magni qui. sequi asperiores quo fugit modi totam similique sunt non quo aspernatur. natus aut nihil ut velit saepe vero dolor nemo aliquam

Quae officia rerum provident fugiat modi quia impedit aliquid rerum. omnis nesciunt quibusdam nesciunt provident libero. deserunt sed sit harum. vero quia et ratione temporibus sed vero asperiores possimus quia. inventore velit aut laborum. molestiae quam quia nihil dolor vel rerum iure ut ut corrupti autem quas natus alias

Doloribus sunt repellendus sit dolorem aut ipsam velit temporibus ut sit et vitae ut. dolor dolorum corrupti omnis libero nihil enim repellat debitis eum. officiis commodi reprehenderit qui. aliquam quam reiciendis sequi ipsam facilis. numquam iure totam ut molestiae optio aut in

Aut error commodi blanditiis ad corrupti illum. ea consequuntur temporibus id aut delectus. in hic saepe aut repudiandae iure voluptas delectus aut qui aut molestiae. unde cupiditate tempore sit doloremque et totam voluptatem quia consequatur praesentium aut maxime. eos est ipsam rem voluptatem reprehenderit et ullam dolores quis voluptatem voluptatem

Eos necessitatibus autem quia earum et dolorem ut. culpa ut labore iure. quis vel delectus ipsam numquam et. quasi quibusdam quis nihil quia quod quo. quas qui recusandae repellat beatae. impedit adipisci perspiciatis eaque neque. error aperiam sint ratione nulla ut et quidem aliquid vero non dolor

Nisi et aliquam facere quia omnis et eum in qui quo aut recusandae dolor. nihil necessitatibus blanditiis earum aut incidunt at. nostrum quae temporibus ut perferendis quam recusandae iure eveniet eum. consequatur sed numquam minima ullam molestiae nihil

Vel et nihil et dicta delectus delectus eos. sed consequatur ipsa dolorem voluptas ipsum porro laboriosam corporis nam. delectus facilis natus beatae esse perferendis. itaque ut unde quos qui possimus minima. ea dolorem porro amet. doloremque quis nisi qui ex molestiae dolorem. vel commodi accusamus velit ea vel non sunt
  </div>
</div>
<br />
<div class="highlight"><pre class="highlight html"><code><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"slimscroll custom-scroll"</span> <span class="na">style=</span><span class="s">"height:300px"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"p-3"</span><span class="nt">&gt;</span>
    ...
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</code></pre></div>
      </main>
    </div>
  </div>

  <footer id="footer" class="bg-light text-muted d-none d-md-block">
    <ul class="list-unstyled">
      <li>Copyright &copy; 2020 King's College London - Faculty of Natural and Mathematical Sciences</li>
    </ul>
  </footer>

  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
</body>
</html>
