
$blue:    #0A2D50 !default;
$indigo:  #005AD2 !default;
$purple:  #7242C2 !default;
$pink:    #FC5E72 !default;
$red:     #E2231A !default;
$orange:  #FF5F05 !default;
$yellow:  #F39C12 !default;
$green:   #28C382 !default;
$teal:    #009EA0 !default;
$cyan:    #3498DB !default;

$kingsred: #E2231A;
$kingsgrey: #5a6369;
$kingsdarkgrey: #333C3E;
$pearlgrey: #CDD7DC;

$primary:       $kingsdarkgrey !default;
$secondary:     $blue !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-200 !default;
$dark:          $kingsgrey !default;

$theme-colors: (
  "kingsred": $kingsred,
  "kingsgrey": $kingsgrey,
  "kingsdarkgrey": $kingsdarkgrey,
  "pearlgrey": $pearlgrey,
);

$theme-text-colors: (
  "primary": $white,
  "secondary": $white,
  "danger": $white,
  "dark": $white,
  "red": $white,
  "blue": $white,
  "indigo": $white,
  "purple": $white,

  "success": $gray-1000,
  "info": $gray-1000,
  "warning": $gray-1000,
  "light": $gray-1000,
  "pink": $gray-1000,
  "cyan": $gray-1000,
  "green": $gray-1000,
  "yellow": $gray-1000,
  "orange": $gray-1000,
  "teal": $gray-1000
);
