
$blue:    #0A2D50 !default;
$indigo:  #005AD2 !default;
$purple:  #7242C2 !default;
$pink:    #FC5E72 !default;
$red:     #E2231A !default;
$orange:  #FF5F05 !default;
$yellow:  #F39C12 !default;
$green:   #28C382 !default;
$teal:    #009EA0 !default;
$cyan:    #3498DB !default;

$kingsred: #E2231A;
$kingsgrey: #5a6369;
$kingsdarkgrey: #333C3E;
$pearlgrey: #CDD7DC;

$primary:       $kingsdarkgrey !default;
$secondary:     $blue !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-200 !default;
$dark:          $kingsgrey !default;

$theme-colors: (
  "kingsred": $kingsred,
  "kingsgrey": $kingsgrey,
  "kingsdarkgrey": $kingsdarkgrey,
  "pearlgrey": $pearlgrey,
);

$theme-text-colors: (
  "primary": lighten($primary, 60%),
  "secondary": lighten($secondary, 60%),
  "danger": lighten($danger, 60%),
  "dark": lighten($dark, 60%),
  "red": lighten($red, 60%),
  "blue": lighten($blue, 60%),
  "indigo": lighten($indigo, 60%),
  "purple": lighten($purple, 60%),

  "success": darken($success, 40%),
  "info": darken($info, 40%),
  "warning": darken($warning, 40%),
  "light": $gray-1000,
  "pink": darken($pink, 40%),
  "cyan": darken($cyan, 40%),
  "green": darken($green, 40%),
  "yellow": darken($yellow, 40%),
  "orange": darken($orange, 40%),
  "teal": darken($teal, 40%)
);
