.dropzone {
  border-color: $gray-400;
}

.bootstrap-duallistbox-container {
  margin-bottom: 10px;
}

.ql-toolbar.ql-snow {
  background-color: $light;
}

.ql-container.ql-snow {
  background-color: $white;
}
