@font-face {
  font-family: KingsBureauGrotFiveOne;
  src: url('/fonts/KingsBureauGrotesqueFiveOne-eot.eot') format("eot");
  src: url('/fonts/KingsBureauGrotesqueFiveOne-eot.eot?#iefix') format("embedded-opentype"),
       url('/fonts/KingsBureauGrotesqueFiveOne-woff.woff') format("woff"),
       url('/fonts/KingsBureauGrotesqueFiveOne-ttf.ttf') format("truetype");
}

@font-face {
  font-family: KingsBureauGrotThreeSeven;
  src: url('/fonts/KingsBureauGrotesqueThreeSeven-eot.eot') format("eot");
  src: url('/fonts/KingsBureauGrotesqueThreeSeven-eot.eot?#iefix') format("embedded-opentype"),
       url('/fonts/KingsBureauGrotesqueThreeSeven-woff.woff') format("woff"),
       url('/fonts/KingsBureauGrotesqueThreeSeven-svg.svg') format("svg");
}

//@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');

// Fontawesome.

$fa-font-path: '../fonts';

@import "@fortawesome/fontawesome-free/scss/fontawesome";

@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url('/fonts/fa-regular-400.eot');
  src: url('/fonts/fa-regular-400.eot?#iefix') format("embedded-opentype"),
       url('/fonts/fa-regular-400.woff2') format("woff2"),
       url('/fonts/fa-regular-400.woff') format("woff"),
       url('/fonts/fa-regular-400.ttf') format("truetype"),
       url('/fonts/fa-regular-400.svg#fontawesome') format("svg");
}

@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url('/fonts/fa-solid-900.eot');
  src: url('/fonts/fa-solid-900.eot?#iefix') format("embedded-opentype"),
       url('/fonts/fa-solid-900.woff2') format("woff2"),
       url('/fonts/fa-solid-900.woff') format("woff"),
       url('/fonts/fa-solid-900.ttf') format("truetype"),
       url('/fonts/fa-solid-900.svg#fontawesome') format("svg");
}

.fa, .fas {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.far {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}
