// Typography.

@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

h1, h2, h3, h4, h5, h6, .navbar-brand {
  font-family: KingsBureauGrotThreeSeven, sans-serif;
}

.lead {
  font-family: "KingsBureauGrotFiveOne","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.form-control {
  color: $gray-900;
}

.text-black {
  color: #000;
}

.bg-light .text-muted, .bg-light.text-muted {
  color: $gray-900 !important;
}

@each $color, $value in $theme-text-colors {
  .bg-#{$color}, .badge-#{$color} {
    color: $value;
  }

   .btn-#{$color}, .btn-#{$color}:hover {
    color: $value;
  }

  .table-#{$color} {
    color: $value !important;
  }

  .alert-#{$color} {
    color: $value;

    .alert-link, a {
      color: $value;
    }
  }
}
