// Typography.

@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

h1, h2, h3, h4, h5, h6, .navbar-brand {
  font-family: KingsBureauGrotThreeSeven, sans-serif;
}

.lead {
  font-family: "KingsBureauGrotFiveOne","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.form-control {
  color: $gray-900;
}
